<mat-drawer-container class="example-container" autosize>
  <!-- Sidebar inicio -->
  <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="home" routerLinkActive #homeLink="routerLinkActive" [activated]="homeLink.isActive"
      >Inicio</a>

      <a mat-list-item routerLink="students" routerLinkActive  #alumnosLink="routerLinkActive" [activated]="alumnosLink.isActive"
      >Alumnos</a>

      <a mat-list-item routerLink="professors" routerLink="professors" routerLinkActive #professorsLink="routerLinkActive" [activated]="professorsLink.isActive" 
      >Profesores</a>

      <a mat-list-item routerLink="/dashboard/courses" routerLink="courses" routerLinkActive #cursosLink="routerLinkActive" [activated]="cursosLink.isActive"
      >Cursos</a>
      
      <a mat-list-item routerLink="clases" routerLink="clases" routerLinkActive #clasesLink="routerLinkActive" [activated]="clasesLink.isActive" 
      >Clases</a>
      
      <a mat-list-item routerLink="register" routerLink="register" routerLinkActive #registerLink="routerLinkActive" [activated]="registerLink.isActive" 
      >Registrar</a>

      <a mat-list-item (click)="logout()" routerLinkActive="link-activo" 
      >Cerrar sesion</a>
    </mat-nav-list>
  </mat-drawer>
<!-- main content inicio -->
  <div class="example-sidenav-content">
    <!-- toolbar  -->
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>S.A.E</span>
      <span class="example-spacer"></span>
      <mat-icon>school</mat-icon>
    </mat-toolbar>
    <main>
      <router-outlet/>
    </main>
  </div>
</mat-drawer-container>
