<div>
  <h1>Bienvenido al Sistema de Administración Educativa</h1>
  <p>
    Nuestra plataforma está diseñada para facilitar la gestión integral de alumnos, clases y cursos dentro de su institución educativa. 
  </p>
  <p>
    En nuestro sistema, podrá: 
  </p>
    <ul>
      <li>Gestionar el registro y la información de los alumnos.</li>
      <li>Gestionar el registro y la información de los cursos</li>
      <li>Administrar horarios y sesiones de clases.</li>
    </ul>
  <p>
    Comience a explorar nuestras funcionalidades y optimice su trabajo.
  </p>

</div>
