<h2>Crear clase</h2>
<p>Seleccione el curso al que quiera asignar alumnos. Utilice el DNI del alumno para agregarlo a la clase.</p>


<div class="container">
  <h2>Vincular Curso con Estudiantes</h2>
  <form [formGroup]="linkForm" (ngSubmit)="linkStudentsToCourse()">
    <div class="form-group">
      <label for="course">Seleccionar Curso</label>
      <select formControlName="course" class="form-control">
        <option *ngFor="let course of courses" [value]="course.id">
          {{ course.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="studentSearch">Buscar Estudiante por ID</label>
      <input formControlName="studentSearch" id="studentSearch" class="form-control" placeholder="Ingrese ID del estudiante">
    </div>

    <ul *ngIf="students$ | async as students" class="search-results">
      <li *ngFor="let student of students" (click)="addStudent(student)">
        {{ student.name }} {{ student.surname }} (ID: {{ student.id }})
      </li>
    </ul>

    <h3>Estudiantes seleccionados:</h3>
    <div class="selected-students">
      <div *ngFor="let student of selectedStudents" class="chip">
        {{ student.name }}
        <span class="remove-btn" (click)="removeStudent(student)">x</span>
      </div>
    </div>

    <button type="submit" [disabled]="selectedStudents.length === 0" class="btn btn-primary">
      Vincular Estudiantes al Curso
    </button>
  </form>


  <br><br><br><br><br><br><br><br><br><br><br>


  <h2>Vincular Curso con Estudiantes</h2>
  <form [formGroup]="linkForm">
    <div class="form-group">
      <label for="course">Seleccionar Curso</label>
      <select formControlName="course" class="form-control">
        <option value="" disabled>Seleccione un curso</option>
        <option *ngFor="let course of courses" [value]="course.id">
          {{ course.name }} {{course.id | json}}
        </option>
      </select>
    </div>

  <div *ngIf="students.length > 0">
    <h3>Estudiantes inscritos en el curso:</h3>
    <ul>
      <li *ngFor="let student of students">
        {{ student.name }} {{ student.surname }} (ID: {{ student.id }}) 
        <button (click)="removeStudentfromClasse(student, selectedCourseId)">Eliminar</button>
      </li>
    </ul>
  </div>



  <div *ngIf="students.length === 0 && selectedCourseId">
    <p>No hay estudiantes inscritos en este curso.</p>
  </div>
</form>
</div>

